@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div class="parentDiv panel navbar navbar-fixed" ng-app="app" ng-controller="BlockCtr">
    <div class="head form-inline panel-heading">
        <label style="color: black">Country</label>
        <div class="form-group m-b--10">
            <select ng-model="selectedCountry" ng-change="changeBranch()" class="form-control">
                <option ng-repeat="country in countries"
                        value="{{ country.Id }}"
                        ng-selected="{{ country.Selected == true }}">
                    {{ country.Name }}
                </option>

            </select>
        </div>

        <label style="color: black">Branch</label>
        <div class="form-group m-b--10">
            <select ng-model="selectedBranch" ng-change="changeProject()" class="form-control">
                <option ng-repeat="branch in branches"
                        value="{{ branch.Id }}">
                    {{ branch.Name }}
                </option>

            </select>
        </div>

        
        @{
            var urlAdd = Url.Action("Create", "Blocks", null);
            urlAdd = HttpUtility.UrlDecode(urlAdd);
        }
        <a data-ng-href="@urlAdd" class="btn btn-sm btn-small btn-primary">Add New Block/Sector</a>
        <div class="pull-right" ng-show="loading">
            <img src="~/Content/loading.gif" width="40" height="30" />
        </div>
    </div>
    <div class="mainbody panel-body" style="overflow: auto">
        <table class="table table-hover table-bordered">
            <thead>
            <tr style="color: salmon; font-weight: bold">
                <th>
                    #
                </th>
                <th>Block Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="block in blocks">
                <td>{{$index+1}}</td>
                <td>{{block.Name}}</td>
                <td>
                    @{
                        var urlEdit = Url.Action("Edit", "Blocks", new { id = "{{ block.Id }}" });
                        urlEdit = HttpUtility.UrlDecode(urlEdit);

                    }
                    <a data-ng-href="@urlEdit" class="btn btn-primary btn-small btn-sm">Edit</a> |
                    <button class="btn btn-danger btn-small btn-sm"
                            ng-click="deleteBlock(block)">
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    var app = angular.module('app', ['ngBootbox']);
    app.controller('BlockCtr', ['$scope', '$ngBootbox', 'BlockService', BlockCtr]);
    app.factory('BlockService', ['$http', function ($http) {

        return {

            getCountry: function () {
                return $http.get('/System/Users/GetCountry');
            },

            getBranch: function (id) {
                return $http.get('/System/Users/GetBranch/' + id);
            },
            getBlocks: function(id) {
                return $http.get('/Blocks/GetBlocks');
            },
            deleteBlock: function(id) {
                return $http.get('/blocks/DeleteBlock/' + id);
            }

        };
    }]);

    function BlockCtr($scope, $ngBootbox, BlockService) {


        BlockService.getCountry().
            then(function (res) {
                $scope.$emit('LOAD');
                $scope.countries = res.data;
                $scope.selectedCountry = $scope.countries[0].Id.toString();

                BlockService.getBranch(parseInt($scope.selectedCountry)).
                    then(function (res) {
                        $scope.branches = res.data;
                        $scope.selectedBranch = res.data[0].Id.toString();


                        $scope.changeList();

                        $scope.$emit('UNLOAD');
                    });
            });

        $scope.changeBranch = function () {
            $scope.$emit('LOAD');
            BlockService.getBranch(parseInt($scope.selectedCountry)).
                then(function (res) {
                    
                    $scope.branches = res.data;
                    $scope.selectedBranch = res.data[0].Id.toString();
                    $scope.$emit('UNLOAD');
                });
        }

        $scope.changeList = function () {
            $scope.$emit('LOAD');
            BlockService.getBlocks()
                .then(function(res) {
                    $scope.blocks = res.data;
                    $scope.$emit('UNLOAD');
                });
        }

        $scope.deleteBlock = function (obj) {
            $ngBootbox.confirm('Delete Block: ' + obj.Name)
                .then(function() {
                    BlockService.deleteBlock(obj.Id)
                        .then(function(res) {
                            if (res.data === 'Done') {
                                $scope.blocks.splice($scope.blocks.indexOf(obj), 1);
                            } else {
                                $ngBootbox.alert("Some thing went wrong");
                                
                            }
                        });
                });
        }

        

        $scope.$on('LOAD', function () {
            $scope.loading = true;

        });
        $scope.$on('UNLOAD', function () {
            $scope.loading = false;

        });
    }
</script>
