@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div class="parentDiv panel navbar navbar-fixed" ng-app="app" ng-controller="UsrTypeCtr">
    <div class="head form-inline panel-heading">
        <label style="color: black">User Type</label>
        <div class="form-group m-b-10">
            <select ng-model="selectedType" ng-change="changeList()" class="form-control">
                <option ng-repeat="ut in types"
                        value="{{ ut.Id }}"
                        ng-selected="{{ ut.Selected == true }}">
                    {{ ut.Name }}
                </option>
            </select>


            <label style="color: black">Menu</label>
            @{
            var url2 = Url.Action("AddAccess", "UserPermission", new { id = "{{ id = selectedType }}" });
            url2 = HttpUtility.UrlDecode(url2);
            }
            <a data-ng-href="@url2" class="btn btn-sm btn-small btn-primary">Add Access</a>
            
        </div>

        <div class="pull-right" ng-show="loading">
            <img src="~/Content/loading.gif" width="40" height="30"/>
        </div>

    </div>

    <div class="mainbody panel-body" style="overflow: auto">
        <table class="table table-hover table-bordered">
            <thead class="bold">
                <tr style="color: salmon; font-weight: bold">
                    <th>#</th>
                    <th>
                        Name
                    </th>
                    <th>
                        Link
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="menu in listMenu">
                    <td>{{$index+1}}</td>
                    <td>
                        {{menu.menu_name}}
                    </td>
                    <td>
                        {{menu.menu_link}}
                    </td>
                    <td>
                        @{
            var url = Url.Action("Delete", "UserPermission", new { mId = "{{ menu.menu_id }}", uId = "{{ selectedType }}" });
            url = HttpUtility.UrlDecode(url);
                        }
                        <a data-ng-href="@url" class="btn btn-danger btn-small btn-sm">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





<script>
    var app = angular.module('app', ['ngBootbox']);
    //app.service('UserAccessService', ['$http', function($http) {

    //    var getAllUserTypes =new function() {
    //        return $http.get("/System/UserPermission/GetAllUserTypes");
    //    }


    //}]);

    //app.controller('UserAccessCtr', ['$scope', '$ngBootbox', 'UserAccessService', UserAccessCtr]);
    //function UserAccessCtr(UserAccessService) {

    //    var dt=UserAccessService.getAllUserTypes();
    //    console.log(dt);
    //}
    app.controller('UsrTypeCtr', ['$scope', '$ngBootbox', 'TypeService', UsrTypeCtr]);
    app.factory('TypeService', ['$http', function ($http) {

        return {

            getAllType: function () {
                return $http.get('/System/UserPermission/GetAllUserTypes');
            },
            getMenuForUser: function (id) {
                return $http.get('/System/UserPermission/GetMenuForUser/' + id);
            }
        };
    }]);
    function UsrTypeCtr($scope, $ngBootbox, TypeService) {
  
        
        
        TypeService.getAllType()
            .then(function (response) {
                $scope.$emit('LOAD');
                $scope.types = response.data;
                $scope.selectedType = $scope.types[0].Id.toString();

                TypeService.getMenuForUser($scope.selectedType)
                    .then(function (response) {
                        $scope.listMenu = response.data;
                        console.log(response.data);
                        $scope.$emit('UNLOAD');
                    });
            });
        


        
        $scope.changeList = function () {
            $scope.$emit('LOAD');
            TypeService.getMenuForUser($scope.selectedType)
                .then(function (response) {
                    $scope.listMenu = response.data;
                    $scope.$emit('UNLOAD');
                });
            
        }

        

        $scope.$on('LOAD', function() {
            $scope.loading = true;
        });
        $scope.$on('UNLOAD', function () { $scope.loading = false; });
    }
    
</script>